rapid_render.json
Backups/
blob_storage/
GPUCache/
Cache/          
CachedData/
CachedExtensions/
storage.json
languagepacks.json
logs/
User/
machineid
webrtc_event_logs/
Cookies/
'Network Persistent State'/
Cookies-journal/